.centered, .modal-title {
    text-align: center;
}
.action_buttons {
    margin-left: 20%;
}
.right {
    float: right;
}
.cross {
    cursor: pointer;
}
.up-arrow {
    width: 64px;
    position: fixed;
    top: 45vh;
    display: none;
}

#menuShow{
    padding: 5px 30px;
    font-size: 14px;
    cursor: pointer;
    background-color: #D7DFE5;
    border: none;
    box-shadow: 0px 0px 1px;
    margin: 5px 0px 0px;
}
.mobMenuContent{
    display: flex;
    flex-direction: column;
}
#menu{
    display: block;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(/uploads/icons/check.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(/uploads/icons/check_empty.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(/uploads/icons/check.png) -19px top no-repeat;
}