.search_by_name_input {
    background-color: powderblue;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.pos_gifts, .pos_stakes {
    width: 80%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0px 1px;
    padding:10px;
}
.gift, .stake {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.gift_name, .stake_name {
    text-align: center;
}
.friend_avatar {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0px 1px;
}
.gift_image, .stake_image {
    width: 128px;
    height: 140px;
}
.gift_image_big, .stake_image_big {
    margin-left: 10%;
    cursor: pointer;
}
.currency {
    color: black;!important;
}
.all_categories {
    margin-top: 20px;
}
.my_gifts, .my_stakes {
    cursor: pointer;
}
.link_my_gifts, .gift_categories, .link_my_stakes, .stake_categories {
    font-size: 1.2em;
    text-align: center;
    color: blue;
    cursor: pointer;
    margin: 10px;
}
.my_gift, .my_stake {
    margin-bottom: 20px;
    border-bottom: 2px solid darksalmon;
}
.my_gift_image, .my_stake_image {
    float: right;
}
.gift_price, .stake_price {
    position: absolute;
    right: 50%;
    background-color: steelblue;
    float: right;
}
.one_gift, .one_stake {
    height: 200px;
    cursor: pointer;
}
.friend {
    height: 150px;
    cursor: pointer;
}
.friend_pressed {
    border: 3px solid lightseagreen;
    border-radius: 40px;
    transition: 0.2s ease;
}
@media screen and (max-width: 1200px){
    .pos_gifts {
        width: 100%;
    }
    .pos_stakes {
        width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .gift_image_big, .stake_image_big {
        margin: 0;
    }
    .currency_btn {
        width: 15vw;
    }
}