.pos_guests {
    width: 80%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0px 1px;
    padding:10px;
}
.guest {
    height: 150px;
    cursor: pointer;
}
.guest_name {
    text-align: center;
}
.guest_avatar {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0px 1px;
}
.guest_image {
    width: 128px;
    height: 140px;
}
.all_categories {
    margin-top: 20px;
}
.one_guest {
    height: 200px;
    cursor: pointer;
}
@media screen and (max-width: 1200px){
    .pos_guests {
        width: 100%;
    }
}