*{
    outline: none;
    text-decoration: none;
}
body{
    margin:0 auto;
    padding:0 auto;
    background: linear-gradient(to right, lightblue, #59E4FC);
}

.nav li{
    margin-top: 10px;
    margin-left: 10px;
}
.birth-date{
    width: 83px;
}
#login input{
    width: 200px;
}

.plus, .cross {
    width: 30px;
    height: 30px;
}

.error {
    color: red;
    transition: 5s linear ease;
}

.img-thumbnail {
    padding: 0;
}

.small{
    display: none;
}
.middle{
    display: none;
}
.big{
    display: none;
}
.huge{
    display: none;
}

@media screen and (max-width: 768px) {
    .small-visible {
        display: block
    }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
    .middle-visible {
        display: block;
    }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .big-visible {
        display: block;
    }
}
@media screen and (min-width: 1201px) {
    .huge-visible {
        display: block;
    }
}
@media (min-width: 601px) {
    .tg-col.m3, .tg-quarter {
        width: 24.99999%;
    }
}

@media screen and (max-width: 768px) {
    .small-hidden {
        display: none
    }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
    .middle-hidden {
        display: none;
    }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .big-hidden {
        display: none;
    }
}
@media screen and (min-width: 1201px) {
    .huge-hidden {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .hedgehog {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .hedgehog-header {
        display: none;
    }
}