.pos_publications {
    width: 80%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0px 1px;
    padding:10px;
}
.publication {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.one_publication {
    margin-bottom: 30px;
    background-color: linen;
}
.bout_user{
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.user_avatar{
    width: 45px;
    height: 45px;
    border-radius: 25px;
    box-shadow: 0 0px 1px;
    margin: -8px 6px -8px 23px;
}
.user_name{
    cursor: pointer;
    color: #5c8d94;
}
.publication {
    margin-bottom: 20px;
}
.publication_name {
    text-align: center;
}
.publication_description {
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    font-size: 1.2em;
}
.publication_description img{
    width:100%;
    display: block;
}
.actions {
    margin: 10px 0 0;
    box-shadow: 2px 2px 2px 1px;
    border: 1px solid rebeccapurple;
}
.actions img{
    margin: 7px;
}
.one_comment {
    border: 1px solid red;
    margin: 20px 0;
}
.comment-input {
    margin: 20px 0;
}
.publication-date-time {
    right: 0;
    position: absolute;
}
.comment-date-time {
    position: absolute;
    right: 30px;
}
.commented_avatar {
    width: 45px;
    height: 45px;
    border-radius: 25px;
    box-shadow: 0 0px 1px;
}
.commented_user {
    margin: 20px 0 0 0;
}
.comment_text {
    border: 2px solid skyblue;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 20px;
}
.right {
    float: right;
    cursor: pointer;
}
.emotion_user, .share_user {
    height: 150px;
    cursor: pointer;
}
.emotion_avatar, .share_avatar {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0px 1px;
}
.publication_images {
    width: 50%;
    margin: 0 auto;
}
.publication_image_emotion {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50%;
}
.emotion_image {
    margin-right: 7px;
}
.action_avatar {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0px 1px;
}
.badge {
    background-color: darkslategray;
    cursor: pointer;
}
@media screen and (max-width: 1200px){
    .pos_publications {
        width: 100%;
    }
    .pos_books {
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .user_avatar, .commented_avatar, .emotion_avatar, .share_avatar {
        display: none;
    }
}